* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0e1538;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

.box h2 {
    color: rgb(226, 226, 226);
    text-shadow: 2px 2px black;
    font-size: 8em;
    z-index: 2;
}

.box::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 140%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 5px;
    border-radius: 16px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}